* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background: #161625;
}

.circle {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 22%;
    background: radial-gradient(#ffffffca, #2745b0 70%);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    z-index: 996;
}

.circle2 {
    background: radial-gradient(#ffffffca, #5d001f 70%);
    top: 50%;
    left: 50%;
}

#container {
    height: 670px;
    width: 500px;
    position: relative;
    padding: 30px;
    border-radius: 30px;
    background: linear-gradient(30deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    z-index: 999;
    backdrop-filter: blur(20px);
}

/* header */
#container #header {
    height: 130px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    border-radius: 30px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5));
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* profile image */
#header #headerProfile {
    height: 90px;
    width: 90px;
    border: 2px solid #E91E63;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 30px;
}

#header #headerProfile img {
    width: 100%;
}

#header #details {
    position: absolute;
    left: 140px;
}

/* User Name */
#header #details #headerName {
    font-weight: 500;
    margin: 0 0 8px 0;
    color: #E91E63;
    text-shadow: 1px 1px 0px #00000070;
    font-size: 22px;
}

#header #details #headerStatus {
    font-weight: 300;
}

/* logout button */
#header #logout {
    height: 50px;
    width: 90px;
    font-size: 17px;
    background: #E91E63;
    color: #fff;
    border: none;
    outline: none;
    position: absolute;
    right: 30px;
    border-radius: 8px;
    cursor: pointer;
}

#header #logout a {
    text-decoration: none;
    color: #fff;
}

#header #logout:hover {
    background: #fa2068;
}

/* search box */
#searchBox {
    height: 60px;
    width: 90%;
    position: absolute;
    left: 5%;
    top: 150px;
}

#searchBox input[type="text"] {
    height: 100%;
    width: 84%;
    padding: 0 20px;
    border: none;
    outline: none;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 7px;
    color: #000;
    font-size: 18px;
}

#searchBox input[type="text"]::placeholder {
    color: #000;
}

/* search button */
#searchBox .searchButton {
    height: 60px;
    width: 60px;
    background: #db1f5e;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 10px;
    display: grid;
    place-items: center;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.searchButton:hover {
    background: #fa2068;
}

/* online users list css */
#onlineUsers {
    height: 420px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 225px;
    overflow-y: auto;
}
#onlineUsers #errors{
    font-size: 19px;
    padding: 10px 35px;
}

#onlineUsers .profile {
    height: 90px;
    width: 90%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.4));
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0 40px;
    display: flex;
    align-items: center;
    position: relative;
    left: 5%;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 6px #00000030;
    cursor: pointer;
}

/* to displat multiple users */
#onlineUsers .profile:first-child {
    top: 0px;
}

/* users profile image */
#onlineUsers .profile .image {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #e6336f;
    position: absolute;
    left: 25px;
}

#onlineUsers .profile .image img {
    width: 100%;
}

/* name & last message */
#onlineUsers .profile .name,
.lastMessage {
    height: 40px;
    width: 60%;
    position: absolute;
    left: 110px;
    line-height: 40px;
    overflow: hidden;
}

/* name */
#onlineUsers .profile .name {
    color: #ce0347;
    top: 10px;
    font-size: 19px;
}

/* last message */
#onlineUsers .profile .lastMessage {
    bottom: 10px;
    color: #000;
}

/* status */
#onlineUsers .profile .status {
    height: 15px;
    width: 15px;
    border-radius: 10px;
    position: absolute;
    right: 40px;
}

#onlineUsers .profile .online {
    background: linear-gradient(to top, #1d6d1d, rgba(255, 255, 255, 0.4));
    /* border: 1px solid rgba(255,255,255,0.4); */
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#onlineUsers .profile .offline {
    background: linear-gradient(to top, #7c1b1f, rgba(255, 255, 255, 0.4));
    /* border: 1px solid rgba(255,255,255,0.4); */
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* customizing scroll bar */
#onlineUsers::-webkit-scrollbar {
    background: transparent;
}

#onlineUsers::-webkit-scrollbar-track {
    width: 40px;
}

#onlineUsers::-webkit-scrollbar-thumb {
    height: 40px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
}